@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Modren";
  src: url("../../public/fonts/LED Dot-Matrix 400.ttf");
}
* {
  font-family: "Modren";
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
::-webkit-scrollbar {
  display: none;
}

body {
  background-color: #111111;
  backdrop-filter: blur(16px);
  color: white;
}

/* text shadow --------------------------- */
.text-shadow :hover {
  text-shadow:
    3px 3px 20px rgb(255, 255, 255),
    -2px 1px 30px rgb(255, 255, 255);
}
/* table ----------------------------------- */

th {
  padding: 10px 15px;
}
td {
  padding: 15px 15px;
  border-bottom: 2px solid rgba(255, 255, 255, 0.342);
}
/* project showcase card ----------------------------------- */
.showcase {
  animation: hover 3s linear infinite;
}
@keyframes hover {
  0% {
    transform: translateY(-5px);
  }
  35% {
    transform: translateY(0px);
  }
  65% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(-5px);
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s;
  -webkit-text-fill-color: #fff !important;
}
