@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Modren";
  src: url("../fonts/Anurati-Regular.otf");
}
* {
  font-family: "Modren";
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
::-webkit-scrollbar {
  display: none;
}

body {
  background-color: #000000;
  backdrop-filter: blur(16px);
  color: white;
}

/* text shadow --------------------------- */
.text-shadow :hover {
  text-shadow:
    3px 3px 20px rgb(228, 111, 33),
    -2px 1px 30px rgb(227, 118, 29);
}
